.button {
  cursor: pointer;
  flex-direction: column;
}

.header {
  width: 100wh;
  height: 114;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
}

.youtubeLogo {
  width: 116px;
  height: 25px;
}
.search-icon {
  width: 19px;
  height: 19px;
  margin-right: 12px;
}
.search-input {
  width: 100%;
  margin-left: 24px;
  background: inherit;
  border: none;
  outline: none;
}

.search-input:hover {
  outline: none;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 830px;
  height: 44px;
  background: #ebebeb;
  border-radius: 22px;
}
.layout-container {
  display: flex;
  margin-left: 152px;
  width: 27px;
  height: 20px;
}
.combined-shape-icon {
  display: flex;
  margin-left: 24px;
}
.ui-11-icon {
  display: flex;
  margin-left: 24px;
}
.userpic-container {
  display: flex;
  align-items: center;
  margin-left: 49px;
  width: 40px;
  height: 40px;
}
.userpic-icon {
  width: 20px;
  height: 20px;
  margin-left: 24px;
  border-radius: 50%;
}


.ui-71-icon {
  margin-left: 6px;
  width: 20px;
  height: 19px;
  color: red;
  font-size: 40px;
}
.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #898989;
}

.main-container {
  display: flex;
  flex: 8;
}

.Menu-panel-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  
}
.list-item2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #898989;
}
.subscriptions-container {
  display: flex;
  flex: 8;
}
.Menu-panel-subscriptions-container {
  display: flex;
  flex: 1;
  flex-direction: column;  
}
.content-container {
  display: flex;
   
}
.Dollie-Blair-container {
  display: flex;
  flex: 7;
  flex-direction: column;
  width: 17px;
  height: 280px; 
}
.Video{ 
  display: flex;
  align-items: center;
  width: 250px;
  height:200px;
  margin-left: 40px;    
}
.Recommended-container {
  display: flex;
  flex: 7;
  flex-direction: column;
  width: 17px;
  height: 280px;
}
.Video2 { 
  display: flex;
  align-items: center;
  width: 17px;
  height:200px;
  margin-left: 40px;
    
}