.button {
  cursor: pointer;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 114;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 25px;
}

.youtubeLogo {
  width: 116px;
  height: 25px;
}
.search-icon {
  width: 19px;
  height: 19px;
  margin-right: 12px;
}
.search-input {
  width: 100%;
  margin-left: 24px;
  background: inherit;
  border: none;
  outline: none;
}

.search-input:hover {
  outline: none;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 830px;
  height: 44px;
  background: #ebebeb;
  border-radius: 22px;
}
.layout-container {
  display: flex;
  margin-left: 152px;
  width: 27px;
  height: 20px;
  
}
.combined-shape-icon{
  display: flex;
  margin-left: 24px;
}
.ui-11-icon {
  display: flex;
  margin-left: 24px; 
}
.userpic-container {
  display: flex;
  align-items: center;
  margin-left: 49px;
  width: 40px;
  height: 40px;   
}
.userpic-icon {  
  width: 20px;
  height: 20px;  
  margin-left: 24px; 
  border-radius: 50%;
}
.Menu-panel-container {
  display:inline; 
  margin-top: 114px;
  margin-left: 31px;
  width: 134px; 
  height: 540px;  
} 
.Home-container{
  margin-top: 114px; 
  margin-left:20 px;
  width: 78px; 
  height: 20px;  
}
.ui-71-icon {   
  margin-left: 6px;  
  width: 20px; 
  height: 19px;
}
  h1 {
  color: red;
  font-size: 40px;
  }

.ui-01-icon{
margin-left: 13px;
color:#898989; 
display:inline;
width: 20px; 
height: 19px;
}